:root {
  --size: 25px;
  --blue: #d66adb;
  --orange: #6edb6a;
}

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&family=Sail&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(33, 33, 33);
}

.App {
  font-family: "Monoton", cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(2 * var(--size));
}
